<div class="card">
  <h5 class="card-header bg-dark text-light d-flex justify-content-between">
    <span>Post list</span>
    <button class="btn btn-primary d-flex justify-content-end" (click)="onAdd()">Add</button>
  </h5>
  <div *ngFor="let post of newPots" class="card-body bg-light">
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">{{post.body}}</p>
    <h5 class="card-text">Status: {{getStatus(post.status)}}</h5>
    <a *ngIf="post | shouldExpand: 'body': 170" href="#" class="card-link" (click)="expand()">More details</a>
  </div>
</div>
